/* project.css */

.project {
  margin: 20px;
}

.project-header {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

.project-header h1 {
  margin-bottom: 10px;
}

.project-header p {
  font-size: 14px;
  color: #666;
}

.project-categories {
  margin-top: 20px;
}

.project-categories ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.project-categories li {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.project-categories li:hover {
  background-color: #e0e0e0;
}

.grid {
  display: grid;
  gap: 20px;
  justify-content: center;
  margin: 0 100px;
  width: 100%; /* Ensure the grid takes the full width of its parent */
}

.card {
  background-color: #333;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: auto;
  border: 2px solid #fff;
  border-radius: 8px;
  flex-grow: 1;
}

.card .px-6 {
  text-align: center;
  flex-grow: 1;
}

.card .px-6 h1 {
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 0.5rem;
}

.card .px-6 p {
  color: #ccc;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.card .px-6 h1:last-child {
  font-size: 1.2rem;
  color: #fff;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.team {
  width: 100%;
}

.team-header {
width: 100%;
height: 42vh;
background-image: url("../images/backgroung/aboutBg.png");
background-repeat: no-repeat;
background-size: cover;
display: flex;
justify-content: center;
align-items: flex-end;
text-align: center;
}

.team-header > h1 {
width: 20%;
margin: 0;
padding: 2% 3% 0.5% 3%;
background-color: white;
color: #292f36;
border-top-right-radius: 20px;
border-top-left-radius: 20px;
}

.team-header > h1 > p {
color: #4d5053;
font-size: 14px;
font-family: Jost;
}

/* members */
.team-members {
  width: 70%;
  margin: 10% auto 5% auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.team-members>a {
  width: 23%;
  margin: 3% 1% 5% 1%;
}

.team-members>ul>li>a {
  display: flex;
  flex-direction: column;
  flex: 1 1 180px;
}

a>.member {
  width: 100%;
}

.member-photo{
  width: 100%;
  object-fit: cover;
}

.member-photo>img {
  width: 100%;
  border-radius: 15px;
}

.member-info {
  width: 100%;
  text-align: center;
}

.fullname {
  font-family: 'DM Serif Display';
  font-size: 20px;
  margin: 0;
}

.m-detail {
  font-family: "Jost";
  font-size: 14px;
  margin: 0;
}

.member-info>ul {
  list-style-type: none;
  padding: 0;
}

.member-info>ul>li {
  display: inline-block;
  margin-right: 8%;
}

h3 {
  margin-left: 15px;
}

.fileInput {
  border-bottom: 4px solid lightgray;
  border-right: 4px solid lightgray;
  border-top: 1px solid black;
  border-left: 1px solid black;
  padding: 10px;
  margin: 15px;
  cursor: pointer;
}

.imgPreview {
  text-align: center;
  margin: 5px 15px;
  height: 200px;
  width: 500px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-top: 5px solid gray;
  border-bottom: 5px solid gray;
}

.imgPreview img {
  width: 100%;
  height: 100%;
}

.previewText {
  width: 100%;
  margin-top: 20px;
}

.submitButton {
  padding: 12px;
  margin-left: 10px;
  background: white;
  border: 4px solid lightgray;
  border-radius: 15px;
  font-weight: 700;
  font-size: 10pt;
  cursor: pointer;
}

.submitButton:hover {
  background: #efefef;
}

.centerText {
  text-align: center;
  width: 500px;
}

.home {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  min-height: 100vh;
  align-items: center;
}
.home #particles-js {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.home .content {
  flex: 1 1 40rem;
  padding-top: 1rem;
  z-index: 1;
}
.home .image {
  flex: 1 1 40rem;
  z-index: 1;
}
.home .image img {
  width: 70%;
  margin-left: 6rem;
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.home .image img:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.home .content h2 {
  font-size: 5rem;
  font-weight: 800;
  color: #1b263b;
}
.home .content h2 span {
  font-size: 5rem;
  font-weight: 800;
  color: #ff7b00;
}
.home .content p {
  font-size: 2.5rem;
  color: #000;
  font-weight: 600;
  padding: 1rem 0;
}
.home .content p span {
  font-size: 2.5rem;
  color: rgb(148, 8, 8);
  font-weight: 600;
  padding: 1rem 0;
}
.home .btn {
  margin-top: 1rem;
  position: absolute;
  line-height: 0;
  padding: 1.6rem 3rem;
  border-radius: 4em;
  transition: 0.5s;
  color: #fff;
  background: #1b263b;
  box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.6);
  font-family: "Nunito", sans-serif;
}
.home .btn span {
  font-weight: 700;
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
}
.home .btn i {
  margin-left: 0.3rem;
  font-size: 1.5rem;
  transition: 0.3s;
}
.home .btn:hover {
  background: black;
}
.home .btn:hover i {
  transform: translateX(5px);
}
/* social icons start */
.socials {
  position: relative;
  margin-top: 9rem;
}
.socials .social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.socials .social-icons li {
  display: inline-block;
  margin-bottom: 14px;
}
.social-icons a {
  font-size: 2rem;
  display: inline-block;
  line-height: 44px;
  color: #00d9ff;
  background-color: #09011b;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: black;
}
.social-icons a.github:hover {
  background-color: #daa274;
}
.social-icons a.twitter:hover {
  background-color: #00aced;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}
.social-icons a.dev:hover {
  background-color: #070707;
}
.social-icons a.instagram:hover {
  background-color: #ee00da;
}
/* social icons end */

/* hero media queries starts*/
@media (max-width: 450px) {
  .home .btn {
    margin: 4rem 0;
  }
  .socials {
    margin-top: 12rem;
  }
  .home .image img {
    margin-top: -12rem;
  }
  .home .content p {
    font-size: 2.2rem;
  }
  .home .content p span {
    font-size: 2.2rem;
  }
}
.team-header {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Adjust the height as needed */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.team-header h1 {
  font-size: 2.5rem;
}

.team-header p {
  font-size: 1.25rem;
}

.team-header button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #CDA274;
  color: #fff;
  border: none;
  cursor: pointer;
}

.team-header button:hover {
  background-color: #a98a5d;
}

.vendor {
  margin-bottom: 5%;
  margin-top: -40px;
}

.previewComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px; /* Decreased margin to reduce distance */
}

.fileInput {
  margin-top: 5px; /* Decreased margin to reduce distance */
}

.submitButton {
  margin-top: 5px; /* Decreased margin to reduce distance */
}


.submitButton:hover {
  background-color: #a98a5d;
}

.card {
  background-color: #333;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, background-color 0.3s ease; /* Added background-color transition */
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card:hover {
  transform: scale(1.05);
  background-color: #4CAF50; /* Change the background color on hover */
}

.card img {
  width: 100%;
  height: auto;
  border: 2px solid #fff;
  border-radius: 8px;
  flex-grow: 1;
}

.card .px-6 {
  text-align: center;
  flex-grow: 1;
}

.card .px-6 h1 {
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 0.5rem;
}

.card .px-6 p {
  color: #ccc;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.card .px-6 h1:last-child {
  font-size: 1.2rem;
  color: #fff;
}

/* Vibrant colors on hover for the categories */
.project-categories li:hover {
  background-color: #ff5722; /* Change the background color on hover */
  color: #fff; /* Change the text color on hover */
}

/* Variables */
:root {
  --hoverEasing: cubic-bezier(0.23, 1, 0.32, 1);
  --returnEasing: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

/* Body */
body {
  margin: 40px 0;
  font-family: "Raleway";
  font-size: 14px;
  font-weight: 500;
  background-color: #BCAAA4;
  -webkit-font-smoothing: antialiased;
}

/* Title */
.title {
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 700;
  color: #5D4037;
  text-align: center;
}

/* Paragraph */
p {
  line-height: 1.5em;
}

/* Margin for Headings and Paragraphs */
h1 + p, p + p {
  margin-top: 10px;
}

/* Container */
.container {
  padding: 40px 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Card Wrap */
.card-wrap {
  margin: 10px;
  transform: perspective(800px);
  transform-style: preserve-3d;
  cursor: pointer;
}

.card-wrap:hover .card-info {
  transform: translateY(0);
}

.card-wrap:hover .card-info p {
  opacity: 1;
}

.card-wrap:hover .card-info,
.card-wrap:hover .card-info p {
  transition: 0.6s var(--hoverEasing);
}

.card-wrap:hover .card-info:after {
  transition: 5s var(--hoverEasing);
  opacity: 1;
  transform: translateY(0);
}

.card-wrap:hover .card-bg {
  transition: 0.6s var(--hoverEasing), opacity 5s var(--hoverEasing);
  opacity: 0.8;
}

.card-wrap:hover .card {
  transition: 0.6s var(--hoverEasing), box-shadow 2s var(--hoverEasing);
  box-shadow: rgba(255, 255, 255, 0.2) 0 0 40px 5px, rgba(255, 255, 255, 1) 0 0 0 1px, rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset white 0 0 0 6px;
}

/* Card */
.card {
  position: relative;
  flex: 0 0 240px;
  width: 240px;
  height: 320px;
  background-color: #333;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset rgba(255, 255, 255, 0.5) 0 0 0 6px;
  transition: 1s var(--returnEasing);
}

/* Card Background */
.card-bg {
  opacity: 0.5;
  position: absolute;
  top: -20px;
  left: -20px;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 1s var(--returnEasing), opacity 5s 1s var(--returnEasing);
  pointer-events: none;
}

/* Card Info */
.card-info {
  padding: 20px;
  position: absolute;
  bottom: 0;
  color: #fff;
  transform: translateY(40%);
  transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.card-wrap:hover .card-info h1 {
  text-shadow: rgba(0, 0, 0, 0.5) 0 10px 10px;
}

.card-info p {
  opacity: 0;
  text-shadow: rgba(0, 0, 0, 1) 0 2px 3px;
  transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.card-info * {
  position: relative;
  z-index: 1;
}

.card-info:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.6) 100%);
  background-blend-mode: overlay;
  opacity: 0;
  transform: translateY(100%);
  transition: 5s 1s var(--returnEasing);
}

.card-info h1 {
  font-family: "Playfair Display";
  font-size: 36px;
  font-weight: 700;
}
